.utilBarLinks {
  @apply mx-4 relative flex h-[1rem] items-center overflow-hidden flex-1;
}

.marquee {
  @apply inline-block mx-auto whitespace-nowrap overflow-hidden absolute;
  animation: marquee 10s linear infinite;

  span {
    @apply mx-3;
  }

  &:hover {
    animation-play-state: paused;
  }
}

.marquee ul {
  display: inline-block;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

.utilBarOrnament {
  @apply flex;

  div:first-of-type {
    @apply ml-auto w-8 h-2 border border-iced-100;
  }

  div:nth-child(2) {
    @apply w-6 h-2 ml-2 border border-iced-fade;
  }

  div:last-of-type {
    @apply w-8 h-2 ml-4 border border-iced-100;
  }
}
